/* LICENSE & DETAILS
   ==================================================

	Theme Name: Cardinal Child Theme
	Theme URI: http://cardinal.swiftideas.com
	Description: An Incredible Responsive Multi-Purpose WordPress Theme - Designed & Developed by Swift Ideas ( www.swiftideas.net )
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Template: cardinal
	Version: 1.0
	Author: Swift Ideas
	Author URI: www.swiftideas.net

	All files, unless otherwise stated, are released under the GNU General Public License
	version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)

   ==================================================
*/

/* --------------------------------------------
	CHILD THEME CSS
-------------------------------------------- */

.flexslider .slides li img {
    max-width: 150px }

.swiper-slide .caption-content>h2 {
    color: inherit;
    margin: 0 0 15px;
    font-size: 25px!important;
    font-weight: 400;
    line-height: 90px!important;
    text-align: center;
}

.title-wrap .spb-heading .bright-design h3.spb-heading{
    color: inherit;
    margin: 0 0 15px;
    font-size: 30px!important;
    font-weight: 400;
    line-height: 90px!important;
    text-align: center;
}

.bright-design .spb-heading:before, .bright-design .spb-heading:after, .bright-design .gform_heading h3:before, .bright-design .gform_heading h3:after { display: none}

.calendar-form .date  {letter-spacing: 1px !important; }
.calendar-form .date span {letter-spacing: 0px !important; }
.calendar-form .price-box {display: none}
.more-box {padding-left: 108px !important;}

.bright-design a.swift-slider-prev {margin-left: 30px}
.bright-design a.swift-slider-next {margin-right: 60px}

.gv_galleryWrap {background-color: black !important; }